<div class="form-area col-md-3">
    <div class="details">
        <h3>Item Details</h3>
        <form name="strangerlist.detailsForm" class="form-horizontal container-fluid" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{strangerlist.editedItem.id}}">
            <div class="form-group">
                <div class="controls">
                    <label class="control-label" for="inputTitle">*Image  <span class="label label-info">320px x 320px</span></label>
                    <input type="file" id="inputImage" name="imageSrc"
                        placeholder="Image" 
                        ng-model="strangerlist.detailsForm.imageSrc"
                        class="form-control" 
                        ngf-select ngf-pattern="'.jpg,.gif,.png'"
                        ngf-accept="'image/*'" 
                        ngf-max-width="320" ngf-max-height="320"
                        />
                    <i ng-show="strangerlist.detailsForm.imageSrc.$error.required">*required</i>
                    <i ng-show="strangerlist.detailsForm.imageSrc.$error.maxWidth">*max width: 320px</i>
                    <i ng-show="strangerlist.detailsForm.imageSrc.$error.maxHeight">*max height: 320px</i>
                </div>
            </div>
            
            <div class="form-group">
                <div class="controls">
                    <label class="control-label" for="inputText">*Text</label>

                    <textarea rows="10" cols="30" class="form-control" name="text" ng-model="strangerlist.editedItem.text" ng-maxlength="300" placeholder="Maximum allowed length: 300 characters" required="">
                        
                    </textarea>
                    <i ng-show="strangerlist.detailsForm.text.$error.required">*required</i><br>
                </div>
            </div>
            <div ng-if="strangerlist.currentItem">
                <button class="btn btn-default"
                 ng-click="strangerlist.updateCancel()">
                    Cancel
                </button>
                <button class="btn pull-right btn-primary"
                        ng-disabled="!strangerlist.detailsForm.$valid"
                        ng-click="strangerlist.updateItem(strangerlist.detailsForm.imageSrc)">Update Item</button>
            </div>
            <div ng-if="!strangerlist.currentItem">
                <button class="btn pull-right btn-success"
                        ng-disabled="!strangerlist.detailsForm.$valid"
                        ng-click="strangerlist.createItem(strangerlist.detailsForm.imageSrc)">Create Item</button>
                        <br /><br />
            </div>
        </form>
    </div>
</div>