/*** Micro clearfix hack ***/



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body { 
  padding-top: 70px; 
  font-family: 'Titillium Web', sans-serif;
  background-color: #999;
  color: #222;
}

#content ul {
  margin-top: 30px;
  border: 1px solid #666;
}

#content li {
  padding: 10px 0px;
  list-style: none;
}

#content li:nth-child(odd) {
  background-color: #666;
}

.ui-state-highlight {
    height: 210px;
    border: 4px dashed #5bc0de;
    background: #5481db !important;
}

.label {
  font-size: 14px;
  margin-left: 5px;
}

.form-control {
  margin-top: 10px;
  height: auto;
}

.story {
  font-family: 'Bangers', cursive;
  font-size: 20px;
  color: white;
  padding-right: 130px;
}
